In [1]:
import pandas as pd
import numpy as np

# Part 1
Count the number of times a depth measurement increases from the previous measurement. (There is no measurement before the first measurement.)

In [2]:
depth = pd.read_csv('Advent_day1_data.csv')
depth = depth.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'])
depth = depth.rename(columns = {'Unnamed: 1':'depth_diff'})
depth

      depth_diff
0            149
1            163
2            165
3            160
4            179
...          ...
1995        8887
1996        8888
1997        8893
1998        8894
1999        8895

[2000 rows x 1 columns]

In [3]:
depth.index

RangeIndex(start=0, stop=2000, step=1)

In [4]:
rows = list(depth.depth_diff)
rows

[149,
 163,
 165,
 160,
 179,
 184,
 186,
 199,
 207,
 210,
 211,
 212,
 228,
 241,
 242,
 265,
 269,
 271,
 287,
 286,
 295,
 296,
 293,
 300,
 301,
 302,
 304,
 308,
 320,
 322,
 321,
 333,
 350,
 345,
 348,
 347,
 351,
 348,
 349,
 345,
 353,
 366,
 376,
 384,
 387,
 390,
 391,
 378,
 382,
 394,
 409,
 411,
 415,
 419,
 424,
 425,
 427,
 428,
 436,
 445,
 446,
 459,
 464,
 478,
 479,
 493,
 492,
 493,
 482,
 484,
 491,
 492,
 497,
 501,
 506,
 509,
 521,
 526,
 527,
 539,
 546,
 547,
 551,
 562,
 567,
 568,
 573,
 590,
 591,
 596,
 612,
 613,
 618,
 620,
 593,
 594,
 596,
 597,
 596,
 612,
 616,
 618,
 620,
 621,
 622,
 611,
 612,
 613,
 610,
 615,
 616,
 634,
 647,
 654,
 655,
 656,
 657,
 659,
 676,
 678,
 675,
 703,
 715,
 722,
 738,
 747,
 760,
 765,
 771,
 784,
 789,
 792,
 769,
 770,
 773,
 762,
 772,
 817,
 823,
 825,
 864,
 863,
 849,
 852,
 862,
 868,
 893,
 895,
 896,
 925,
 946,
 945,
 946,
 945,
 964,
 954,
 962,
 969,
 976,
 1004,
 1007,
 1015,
 1029,
 1037,
 1043,
 1048,
 1070,
 1080,
 1100,
 1097,
 1094,
 1102,
 1099,
 1098,
 1099,
 1096,
 1097,
 1117,
 1123,
 1124,
 1125,
 1127,
 1119,
 1121,
 1137,
 1173,
 1174,
 1179,
 1181,
 1200,
 1204,
 1175,
 1179,
 1180,
 1189,
 1194,
 1195,
 1197,
 1199,
 1206,
 1200,
 1208,
 1211,
 1213,
 1214,
 1229,
 1230,
 1271,
 1278,
 1279,
 1282,
 1288,
 1285,
 1291,
 1290,
 1294,
 1297,
 1299,
 1300,
 1320,
 1324,
 1323,
 1328,
 1329,
 1330,
 1331,
 1334,
 1337,
 1311,
 1313,
 1314,
 1320,
 1323,
 1318,
 1323,
 1331,
 1339,
 1340,
 1328,
 1334,
 1336,
 1342,
 1343,
 1350,
 1357,
 1359,
 1377,
 1378,
 1384,
 1368,
 1369,
 1371,
 1380,
 1360,
 1349,
 1374,
 1373,
 1376,
 1372,
 1382,
 1384,
 1391,
 1393,
 1399,
 1403,
 1404,
 1419,
 1427,
 1425,
 1454,
 1455,
 1458,
 1459,
 1479,
 1484,
 1485,
 1487,
 1492,
 1497,
 1499,
 1496,
 1503,
 1528,
 1543,
 1535,
 1546,
 1547,
 1549,
 1546,
 1547,
 1549,
 1550,
 1553,
 1581,
 1583,
 1598,
 1616,
 1618,
 1640,
 1638,
 1655,
 1686,
 1685,
 1671,
 1674,
 1680,
 1673,
 1675,
 1676,
 1673,
 1674,
 1679,
 1681,
 1689,
 1701,
 1702,
 1708,
 1722,
 1723,
 1727,
 1739,
 1742,
 1743,
 1756,
 1759,
 1763,
 1767,
 1768,
 1772,
 1771,
 1775,
 1783,
 1784,
 1794,
 1796,
 1815,
 1811,
 1812,
 1822,
 1820,
 1836,
 1825,
 1828,
 1826,
 1827,
 1832,
 1844,
 1847,
 1854,
 1855,
 1857,
 1864,
 1854,
 1869,
 1868,
 1867,
 1868,
 1872,
 1875,
 1876,
 1880,
 1874,
 1875,
 1876,
 1877,
 1881,
 1882,
 1897,
 1898,
 1903,
 1904,
 1906,
 1904,
 1911,
 1908,
 1909,
 1930,
 1929,
 1928,
 1948,
 1958,
 1963,
 1964,
 1967,
 1971,
 1960,
 1958,
 1968,
 1969,
 1972,
 1973,
 1974,
 1980,
 1981,
 1992,
 1993,
 1999,
 1998,
 1997,
 1996,
 1997,
 2008,
 2007,
 1987,
 1991,
 1992,
 1998,
 2006,
 2007,
 2014,
 2017,
 2022,
 2027,
 2017,
 2020,
 2048,
 2049,
 2050,
 2054,
 2055,
 2067,
 2072,
 2089,
 2075,
 2076,
 2077,
 2078,
 2085,
 2086,
 2088,
 2091,
 2086,
 2094,
 2102,
 2103,
 2105,
 2107,
 2109,
 2111,
 2124,
 2125,
 2127,
 2130,
 2131,
 2133,
 2136,
 2147,
 2148,
 2153,
 2152,
 2158,
 2157,
 2164,
 2165,
 2167,
 2166,
 2200,
 2201,
 2200,
 2206,
 2207,
 2197,
 2208,
 2209,
 2211,
 2217,
 2235,
 2236,
 2243,
 2233,
 2226,
 2238,
 2244,
 2237,
 2232,
 2229,
 2233,
 2242,
 2239,
 2240,
 2241,
 2242,
 2247,
 2248,
 2260,
 2276,
 2273,
 2275,
 2301,
 2317,
 2340,
 2341,
 2328,
 2332,
 2326,
 2322,
 2323,
 2330,
 2334,
 2351,
 2352,
 2360,
 2370,
 2371,
 2370,
 2377,
 2378,
 2381,
 2392,
 2406,
 2385,
 2392,
 2397,
 2395,
 2393,
 2397,
 2395,
 2414,
 2418,
 2424,
 2429,
 2431,
 2455,
 2456,
 2468,
 2478,
 2483,
 2485,
 2484,
 2485,
 2486,
 2475,
 2484,
 2493,
 2494,
 2513,
 2519,
 2529,
 2530,
 2535,
 2537,
 2555,
 2540,
 2541,
 2539,
 2533,
 2534,
 2543,
 2548,
 2551,
 2557,
 2561,
 2563,
 2565,
 2600,
 2601,
 2595,
 2594,
 2609,
 2613,
 2587,
 2591,
 2598,
 2604,
 2564,
 2568,
 2570,
 2576,
 2575,
 2577,
 2595,
 2602,
 2605,
 2613,
 2615,
 2606,
 2601,
 2600,
 2598,
 2599,
 2601,
 2603,
 2617,
 2623,
 2625,
 2626,
 2638,
 2641,
 2642,
 2636,
 2637,
 2630,
 2617,
 2619,
 2616,
 2615,
 2624,
 2633,
 2635,
 2663,
 2666,
 2668,
 2671,
 2672,
 2675,
 2685,
 2686,
 2697,
 2702,
 2704,
 2723,
 2724,
 2729,
 2716,
 2718,
 2727,
 2731,
 2770,
 2761,
 2778,
 2800,
 2801,
 2798,
 2799,
 2800,
 2801,
 2798,
 2794,
 2795,
 2835,
 2836,
 2845,
 2848,
 2858,
 2873,
 2874,
 2892,
 2906,
 2898,
 2927,
 2933,
 2936,
 2940,
 2948,
 2950,
 2945,
 2947,
 2957,
 2949,
 2950,
 2951,
 2957,
 2959,
 2960,
 2962,
 2978,
 2982,
 2983,
 2986,
 3000,
 3002,
 3004,
 3005,
 3002,
 3009,
 3022,
 3009,
 3002,
 3003,
 3022,
 3037,
 3040,
 3041,
 3042,
 3044,
 3045,
 3049,
 3053,
 3057,
 3060,
 3061,
 3059,
 3060,
 3070,
 3071,
 3072,
 3075,
 3076,
 3081,
 3084,
 3081,
 3080,
 3086,
 3098,
 3099,
 3100,
 3105,
 3107,
 3113,
 3121,
 3126,
 3131,
 3136,
 3145,
 3150,
 3153,
 3154,
 3156,
 3157,
 3165,
 3154,
 3155,
 3156,
 3169,
 3176,
 3191,
 3188,
 3190,
 3197,
 3199,
 3221,
 3254,
 3262,
 3263,
 3259,
 3258,
 3259,
 3267,
 3266,
 3268,
 3263,
 3268,
 3269,
 3291,
 3295,
 3294,
 3326,
 3327,
 3335,
 3327,
 3343,
 3346,
 3369,
 3368,
 3372,
 3375,
 3379,
 3386,
 3395,
 3396,
 3397,
 3409,
 3412,
 3416,
 3418,
 3419,
 3418,
 3417,
 3414,
 3424,
 3425,
 3430,
 3431,
 3433,
 3434,
 3435,
 3421,
 3422,
 3424,
 3425,
 3416,
 3429,
 3423,
 3432,
 3444,
 3451,
 3468,
 3469,
 3468,
 3470,
 3471,
 3472,
 3473,
 3471,
 3483,
 3486,
 3495,
 3496,
 3501,
 3505,
 3496,
 3497,
 3507,
 3512,
 3515,
 3519,
 3523,
 3524,
 3525,
 3524,
 3549,
 3551,
 3525,
 3526,
 3534,
 3536,
 3542,
 3545,
 3548,
 3527,
 3529,
 3528,
 3553,
 3555,
 3560,
 3561,
 3580,
 3582,
 3579,
 3582,
 3586,
 3584,
 3588,
 3564,
 3572,
 3568,
 3567,
 3565,
 3583,
 3575,
 3579,
 3581,
 3589,
 3605,
 3613,
 3615,
 3617,
 3643,
 3645,
 3652,
 3654,
 3653,
 3654,
 3659,
 3656,
 3659,
 3653,
 3651,
 3654,
 3657,
 3675,
 3677,
 3679,
 3707,
 3710,
 3717,
 3755,
 3758,
 3759,
 3761,
 3766,
 3768,
 3759,
 3761,
 3762,
 3790,
 3791,
 3793,
 3797,
 3784,
 3785,
 3786,
 3787,
 3790,
 3792,
 3784,
 3789,
 3792,
 3795,
 3789,
 3790,
 3797,
 3783,
 3795,
 3792,
 3801,
 3804,
 3806,
 3810,
 3808,
 3813,
 3793,
 3797,
 3802,
 3810,
 3822,
 3825,
 3830,
 3839,
 3838,
 3837,
 3838,
 3839,
 3840,
 3841,
 3842,
 3862,
 3870,
 3871,
 3886,
 3887,
 3890,
 3882,
 3890,
 3884,
 3885,
 3907,
 3914,
 3926,
 3934,
 3935,
 3944,
 3954,
 3946,
 3951,
 3954,
 3957,
 3958,
 3970,
 3981,
 3988,
 3985,
 3988,
 3989,
 3982,
 3978,
 3979,
 3980,
 3981,
 4001,
 4002,
 4011,
 4016,
 4021,
 4026,
 4024,
 4027,
 4043,
 4044,
 4062,
 4066,
 4069,
 4067,
 4087,
 4099,
 4097,
 4091,
 4093,
 4090,
 4088,
 4094,
 4100,
 4108,
 4109,
 4105,
 4121,
 4138,
 4141,
 4144,
 4145,
 4154,
 4153,
 4156,
 4157,
 4153,
 4151,
 4157,
 4161,
 4162,
 4163,
 4165,
 4162,
 4171,
 4170,
 4177,
 4192,
 4202,
 4203,
 4204,
 4213,
 4217,
 4218,
 4220,
 4221,
 4222,
 4228,
 4258,
 4259,
 4261,
 4262,
 ...]

In [5]:
rows[1]

163

In [6]:
# i = 0
# count = 0
# for i, n in enumerate(rows[:-1]):
#     if n > rows[i+1] > n:
#         count += 1
# #     i + 1
    
#     print(count)

In [7]:
# mylist = [1, 2, 2, 4, 2, 3]
# for i, j in enumerate(mylist[:-1]):
#     if j  == mylist[i+1]: 
#         mylist[i] = "foo" 
#         mylist[i+1] = "foo"
# print mylist
# [1, 'foo', 'foo', 4, 2, 3]

In [8]:
depth.depth_diff.diff()

# think boolean mask, where any negative number is true, then summing them

0        NaN
1       14.0
2        2.0
3       -5.0
4       19.0
        ...
1995     1.0
1996     1.0
1997     5.0
1998     1.0
1999     1.0
Name: depth_diff, Length: 2000, dtype: float64

In [9]:
depth.index[1]

1

In [10]:
depth[depth.depth_diff.diff()==True]

      depth_diff
10           211
11           212
14           242
21           296
24           301
...          ...
1992        8892
1995        8887
1996        8888
1998        8894
1999        8895

[406 rows x 1 columns]

In [11]:
depth.diff()

      depth_diff
0            NaN
1           14.0
2            2.0
3           -5.0
4           19.0
...          ...
1995         1.0
1996         1.0
1997         5.0
1998         1.0
1999         1.0

[2000 rows x 1 columns]

In [12]:
output = []
for i, row in depth.iterrows():
    if i > 0 :
        if depth.iloc[i]['depth_diff'] > depth.iloc[i-1]['depth_diff']:
            output.append(1)
        else:
            continue #output.append(np.nan). you didn't even need to append NaNs and then drop : )
# output

In [13]:
output = pd.Series(output)
output

0       1
1       1
2       1
3       1
4       1
       ..
1611    1
1612    1
1613    1
1614    1
1615    1
Length: 1616, dtype: int64

In [14]:
len(output)

1616

# Part 2
Your goal now is to count the number of times the sum of measurements in this sliding window increases from the previous sum. So, compare A with B, then compare B with C, then C with D, and so on. Stop when there aren't enough measurements left to create a new three-measurement sum.

In [15]:
# 199  A      
# 200  A B    
# 208  A B C  
# 210    B C D
# 200  E   C D
# 207  E F   D
# 240  E F G  
# 269    F G H
# 260      G H
# 263        H

In [17]:
output2 = []
for i, row in depth.iterrows():
    if i > 0 :
        if i < (len(depth)-2):
            if ((depth.iloc[i]['depth_diff'] + depth.iloc[i+1]['depth_diff'] 
                + depth.iloc[i+2]['depth_diff']) > (depth.iloc[i-1]['depth_diff'] 
                + depth.iloc[i]['depth_diff'] + depth.iloc[i+1]['depth_diff'])):
                    output2.append(1)
            else:
                continue

In [18]:
len(output2)

1645